@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Roboto:ital,wght@1,300&display=swap');


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding; 0;
}

body {
    background: #333;
    font-family: 'Roboto', serif;
    color: #f1f1f1;
    height: 100vh;
    background: url('ressources/senior_farmer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 { 
    font-family: 'Merienda', cursive;
    font-size: 120px;
    color: #f1f1f1;

}

h1 span {
    position: relative;
}

h2 {
    font-family: 'Roboto', serif;
    font-size: 30px;
    color: #f1f1f1;
}

h2 span {
    position: relative;
    bottom: 20px;
}

.containers-btns {
    position: relative;
    top: 50px;
}

.btn-first {
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 250px;
    color: #f1f1f1;
    cursor: pointer;

}

.btn-first:nth-child(1) {
    margin-right: 30px;
}

.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}

.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}

.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1 px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}
